* {
    text-decoration: none;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header a{
    color: rgb(51, 44, 44);
    margin-right: 20px;
    font-size: 15px;
    text-decoration: inherit;
}

.header a:hover{
    text-decoration: underline;
}

.header-right{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.header-right .h-apps{
    margin-right: 15px ;
}
.header-right .h-apps:hover{
    background-color: rgb(219, 202, 202);
    cursor: pointer;
}

.header-right .h-labs{
    margin-right: 15px;
}
.header-right .h-labs:hover{
    background-color: rgb(219, 202, 202);
    cursor: pointer;
}

/* Main Body */
.mainbody{
    flex: 1;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
}

img{
    object-fit: contain;
    height: 200px;
}

.search-input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 2px;
    max-width: 556px;
}

.search-input input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search-input .material-symbols-outlined{
    color: gray;
}

.s-buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: rgb(85, 67, 67);
}

.s-buttons button{
    margin: 5px;
    border: none;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: rgb(66, 43, 43);
    outline: none;
    cursor: pointer;
}

.s-buttons button:hover{
    outline: rgba(170, 147, 147, 0.2) auto;
}

.lang{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 14px;
}

.lang a{
    align-items: center;
    justify-content: space-between;
    color: blue;
}

.lang a:hover{
    text-decoration: underline;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 2px solid rgb(214, 214, 214);

}


nav a{
    color: rgb(51, 44, 44);
    margin-right: 20px;
    font-size: 16px;
    text-decoration: inherit;
    padding: 2px 8px;

}

nav a:hover{
    text-decoration: underline;
}

nav p{
    font-size: 16px;
    text-decoration: inherit;
    padding: 0 ;
    height: 5px;
}

